<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/display" method="post">
      <input type="text" name="name" value="name">
      <input type="text" name="breed" value="">
      <input type="text" name="age" value="">
      <input type="submit" id = 'submit' value="">
    </form>
  </body>
</html>
